.task-container {
  position: relative;
  min-width: 20vw;
  min-height: 10vh;
  background-color: #8bbccc;
  margin: 2rem auto;
  padding: 5px 10px;
  color: #fff;
  border-radius: 1rem;
}

ul {
  width: 70%;
  overflow-y: auto;
  padding: 2rem;
}

li {
  display: flex;
  flex-direction: column;
  place-items: center;
  padding: 5px 10px;
  margin-bottom: 2rem;
}

li span {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

button {
  font-weight: bold;
  background-color: #ffd372;
  color: #000;
  border: none;
  border-radius: 5px;
  margin: 0 10px;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  color: #fff;
}

.danger {
  background: rgb(241, 53, 53);
}

label {
  margin: 0 1rem;
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

@media (max-width: 500px) {
  .task-container {
    width: 100%;
  }
}
